* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
}

/* HEADER */

header {
  height: 75px;
  background-color: white;
}

/* logo */

#logo-area {
  padding-top: 12px;
  padding-left: 20px;
}

#logo {
  vertical-align: middle;
}

#logo-title {
  font-family: 'Arimo', sans-serif;
  font-size: 28px;
  font-weight: 700;
  vertical-align: middle;
}

/* MAIN */

.container {
  width: 70%;
  margin: 0 auto;
}

/* top nav */
.top-nav {
  background-color: white;
  margin-top: 40px;
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 10px;

}

button {
  padding: 5px 5px;
  border-radius: 5px;
}

.sky-color {
  background-color: #47adf1;
  color: white;
  border: 1px solid #47adf1
}

.snow-color {
  background-color: white;
  color: #c5cbd0;
  border: 1px solid #c5cbd0
}

/* content */
.content {
  background-color: white;
  margin-top: 10px;
}


p {
  font-family: 'Arimo', sans-serif;
  color: #444851;
}

.menu-title {
  padding-top: 35px;
}

.menu-title::before {
  content: '\25BE';
  font-size: 25px;
  vertical-align: middle;
  color: #444851;
}

/* item */

.item {
  padding-top: 25px;
}

.item-true {
  color: #444851;
  font-size: 12px;
}

.item-true::before {
  content: '\2714';
  font-size: 8px;
  color: #64c0a9;
  border: 1px solid #64c0a9;
  border-radius: 50%;
  padding: 3px;
  margin: 5px;
  
}

.item-false {
  color: #444851;
  font-size: 12px;
}

.item-false::before {
  content: '\02718';
  font-size: 8px;
  color: #eb5a54;
  border: 1px solid #eb5a54;
  border-radius: 50%;
  padding: 3px;
  margin: 5px;
  
}

/* category */
.category{
  border-radius: 15%;
  padding: 5px;
  font-size: 10px;
  color: white;
  
}


.category.editorial {
  background-color: #45abea;
}




